body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 0.5rem;
  padding: 1em;
}

p {
  color: #ab433f;
  opacity: 1;
  padding-left: 0.5em;
  font-weight: 500;
  margin: 0;
}

.error-box {
  background: #f3dede;
  display: flex;
  align-items: center;
  width: 200px;
  border-radius: 3px;
  padding: 1.2em 1em;
  border: 1px solid #f3dede;
  transform: scale(1.5, 1.5);
}

.warning {
  color: #ab433f;
  opacity: 1;
  font-size: 1.6em;
}
