body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 0.8rem;
  padding: 1em;
}

p {
  margin: 0;
}

.single-email {
  width: 850px;
  min-height: 40px;
  border: 1px solid gray;
  display: flex;
  align-items: center;
}

.checkbox {
  padding: 2em;
  border: 1px solid red;
}

.single-email i {
  color: gray;
  padding: 0.75em;
  opacity: 0.8;
}

.title-date {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.message {
  padding-top: 3px;
  opacity: 0.6;
}
